<div class="container-fluid ">
    <div class="inicio">
        <div class="row neon">
            <h2>&nbsp;&nbsp;&nbsp;BIENVENIDO A PARTYFY</h2>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../assets/imagenes/Icono.png" height="80%" width="70%">
            </div>
            <div class="col"> 
                <br><br><br><h3>¿A qué area quieres entrar?</h3>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp; <a [routerLink]="['/home/usu']">Zona usuarios</a></h4>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp; <a [routerLink]="['/home/crearEmp']">Zona locales</a></h4>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp; <a [routerLink]="['/home/lEmp']">Lista de locales sin iniciar sesión</a></h4>
            </div>
        </div>
    </div>
</div>
